{% extends "main.html" %}

{% block mainHead %}

	<title>添加用户</title>

{% endblock %}

{% block mainBody %}

		<div id="page-body" role="main" class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-8">
                    <form role="form" class="form-horizontal" action="{{url_for('bp_user.create')}}" id="add_user_form" method="POST">
                    {{ form.csrf_token }}
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4>添加用户</h4>
                        </div>
                        <div class="panel-body">
                            {% include "_messages.html" %}
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="uname">用户姓名</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="uname" id="uname" placeholder="请输入用户姓名" value="{{ form.uname.data }}">
                                    {% if form.uname.errors %}
                                        {% for message in form.uname.errors %}
                                            <span class="text-danger help-inline">{{ message }}</span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="account">登录帐号</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="account" id="account" placeholder="请输入帐号" value="{{ form.account.data }}">
                                    {% if form.account.errors %}
                                        {% for message in form.account.errors %}
                                            <span class="text-danger help-inline">{{ message }}</span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="password">密码</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" name="password" id="password" placeholder="请输入密码" value="{{ form.password.data }}">
                                    {% if form.password.errors %}
                                        {% for message in form.password.errors %}
                                            <span class="text-danger help-inline">{{ message }}</span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                <!--
                                <label class="col-sm-3 control-label" for="utype">用户类型</label>
                                <div class="col-sm-9">
                                    <select id="utype" name="utype" class="form-control" value="{{ form.type.data }}">
                                        <option value="0" selected="">办事处</option>
                                        <option value="1">总部</option>
                                    </select>
                                </div>
                                -->
                                <label class="col-sm-3 control-label" for="{{ form.type.id }}">用户类型</label>
                                <div class="col-sm-9">
                                    {{ form.type(class='form-control') }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="address">地址</label>
                                <div class="col-sm-9"><input type="text" class="form-control" name="address" id="address" placeholder="请输入地址" value="{{ form.address.data }}"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="telephone">联系电话</label>
                                <div class="col-sm-9"><input type="text" class="form-control" name="telephone" id="telephone" placeholder="请输入电话" value="{{ form.telephone.data }}"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="description">个人备注</label>
                                <div class="col-sm-9"><input type="text" class="form-control" name="description" id="description" placeholder="请输入个人备注" value="{{ form.description.data }}"></div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="form-group">
                                <div class="col-md-6 text-right">
                                    <button id="register_sub" type="button" class="btn btn-primary" onclick="$('#add_user_form').submit()">添加用户</button>
                                    <a class="btn btn-default" href="{{url_for('bp_user.index')}}">取消</a>
                                </div>
                                <div class="col-md-6"></div>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
		</div>

{% endblock %}