body{
	position: relative;
	display: block;
	color: #333;
	background: #eee9ed url(../img/main_bg.png);
    padding-top: 70px;
}
.bs-docs-nav {
    text-shadow: 0 -1px 0 rgba(0,0,0,.15);
    background-color: #563d7c;
    border-color: #463265;
    box-shadow: 0 1px 0 rgba(255,255,255,.1);
}

.bs-docs-nav .navbar-nav > li > a {
    color: #cdbfe3;
}
#jumbo {
  background-color: #333;
  color: #eee;
}
#jumbo p {
  font-size: 16px;
}
#try-header {
  margin: 30px 0px;
}
#try-more {
  margin: 30px 0px;
  font-style: italic;
}
.user-type{
	display: inline-block;
}
.panel-group .panel {background-color:#fff;border:0;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);-webkit-border-radius: 4px;-moz-border-radius: 4px;-ms-border-radius: 4px;-o-border-radius: 4px;border-radius: 4px;}

.shadow{
    box-shadow: 0 1px 3px rgba(0,0,0,0.35);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.35);
}
.avatar{
    width: 64px;
    height: 64px;
    background-color: #a173f2;
}
.button_holder {
    top: 0;
    text-align: center;
}
.login-btn{
    background-color: #1890d0;
    padding: 5px 40px;
    color: #fff;
    transition: background-color .25s ease-in-out, color .25s ease-in-out;
    font-size: 130%;
}
a.button {
    display: inline-block;
    text-decoration: none;
}
.articlemenu {
    float: left;
    width: 720px;
    line-height: 1.8;
    padding: 5px 0 30px 5px;
    margin-bottom: 10px;
    background: url(../img/text_line.png) center bottom no-repeat;
}
.section .inner {
    background-position: top center;
    min-height: 700px;
    background-repeat: repeat-y;
    margin: 0 auto;
    position: relative;
    min-width: 1024px;
    filter:alpha(opacity=90);
    -moz-opacity:0.9;
    opacity:0.9;
    color: #000;
}
.prj-base{
    width: 100%;
    margin-top: -70px;
    padding-top: 80px;
    background-image: url('../img/sunning.jpg');
}

.prj-tml{
    width: 100%;
    background-image: url('../img/time.png');
    background-color: #b1d8a1;
    padding-top:20px;
}

.prj-mtr{
    width: 100%;
    background-image: url('../img/pixc.jpg');
    padding-top:20px;
}
.rmm{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.tm-line{
    border-top: 3px solid rgba(200,10,10,0.8);
    margin-top: 50px;min-height: 500px;
    position: relative;
}
.point{
    position: absolute;
    top: -25px;
    margin-left: 30px;
    background-color: #ff0000;
    width: 15px;
    height: 15px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-box-shadow: 0 6px 12px rgba(100, 0, 200, 0.175);
    box-shadow: 0 6px 12px rgba(100, 0, 200, 0.175);
    background-clip: padding-box;
    behavior: url(iecss3.htc);
}

.upld{
    height: 202px;
    width: 202px;
    float: left;
    margin-top: 10px;
    margin-left: 20px;
    background-color: #fff;
    border: 1px solid darkslateblue;
    -webkit-box-shadow: 0 8px 10px rgba(100, 0, 200, 0.4);
    box-shadow: 0 8px 10px rgba(100, 0, 200, 0.4);
    text-align: center;
    vertical-align: middle;
    position: relative;
}
.upld img{
    max-height: 200px;
    max-width: 200px;
}
.ico{
   position: absolute;
   color: #ff0000;
    bottom: 5px;
    right: 5px;
    font-size: 16px;
    display: none;
}
.selected{
    border: 1px dashed darkred;
}
.selected .ico{
    display: block;
}

.prjt {
    color: #1f4c7a;
    display: block;
    background-color: #ffffff;
    border-color: #d9eef2;
    border-width: 2px;
    border-style: dashed;
    padding: 15px;
    margin: 15px 0;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
.feedbackb{
    -webkit-box-shadow: 0 6px 12px rgba(100, 0, 200, 0.175);
    box-shadow: 0 6px 12px rgba(100, 0, 200, 0.175);
    border-bottom: 2px solid #d3d3d3;
}

#curProcStep a{
    display: inline-block;
    text-decoration: none;
    border: 1px solid #767676;
    padding: 5px 10px;
}
#curProcStep a.done{
    background-color: #ccccf5;
}
#curProcStep a.undo{
    background-color: #ccccf5;
}

.ntf-modal {
    z-index: 10020;
}
.ntf-modal.success .modal-content {
    background:#fff;
    border:1px solid #46b525;
    color:#46b525;
}
.ntf-modal.normal .modal-content {
    background:#3276b1;
    color:#fff;
    border:1px solid transparent;
}
.ntf-modal.error .modal-content *,
.ntf-modal.normal .modal-content * {
    color:#fff;
}
.ntf-modal.error .close,
.ntf-modal.normal .close {
    color:#fff;
    opacity:1;
    filter: alpha(opacity=100);
}
.ntf-modal.error .modal-content {
    background:#cb2027;
    color:#fff;
    border:1px solid transparent;
}

.ui-datepicker {
    width: 17em;
    padding: .2em .2em 0;
    display: none;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}
.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: .2em 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 1px;
    width: 1.8em;
    height: 1.8em;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.ui-datepicker .ui-datepicker-next {
    right:2px;
}
.ui-datepicker .ui-datepicker-prev {
    left:2px;
}
.ui-datepicker .ui-datepicker-next:before{
    content: "\e092";
}
.ui-datepicker .ui-datepicker-prev:before{
    content: "\e091";
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
    text-decoration:none;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    border-radius:4px;
    vertical-align: middle;
    text-align: center;
    height: 25px;
    line-height: 25px;
}

.ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center;
    font-weight:bold;
}
.ui-datepicker .ui-datepicker-title select {
    font-size: 1em;
    margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month-year {
    font-weight:bold;
    width: 100%;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
    outline:none;
}
.ui-datepicker table {
    width: 100%;
    font-size: .9em;
    border-collapse: collapse;
    margin: 0 0 .4em;
}
.ui-datepicker th {
    text-align: center;
    font-weight: bold;
    border: 0;
}
.ui-datepicker td {
    border: 0;
    padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
    display: block;
    padding: .2em;
    text-align: center;
    text-decoration: none;
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px;
}
.ui-datepicker .ui-datepicker-buttonpane {
    background-image: none;
    margin: .7em 0 0 0;
    padding: 0 .2em;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
    float: right;
    margin: .5em .2em .4em;
    cursor: pointer;
    padding: .2em .6em .3em .6em;
    width: auto;
    overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    float: left;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
    width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
    float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
    width: 95%;
    margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
    width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
    width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
    width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
    border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
    clear: left;
}
.ui-datepicker-row-break {
    clear: both;
    width: 100%;
    font-size: 0;
}

/*add by laodun*/
.ui-datepicker .ui-state-default {
    border-radius:4px;
}
.ui-datepicker .ui-state-hover{
    background:#eee;
}
.ui-datepicker .ui-state-active {
    background-color:#0044cc;
    background-color: #006dcc;
    background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
    background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
    background-image: -o-linear-gradient(top, #0088cc, #0044cc);
    background-image: linear-gradient(top, #0088cc, #0044cc);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
    border-color: #0044cc #0044cc #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.ui-state-disabled {
    color:#999;
}
.ui-datepicker .ui-datepicker-today {
}